<%= form_with(model: [quiz, QuizComment.new], local: true) do |form| %>
    <%= form.hidden_field :quiz_comment_id, value: quiz_comment_id %>
    
    <label class="form-control w-full max-w-xs">

        <%= form.text_area :text, rows: 2, placeholder: "Type here", class: "input input-bordered w-full max-w-xs"%>

        <div class="label">
            <span class="label-text-alt"><%= form.submit quiz_comment_id.present? ? 'Reply' : 'Post Comment', class: "btn btn-xs"%></span>
            <span class="label-text-alt"></span>
        </div>
    </label>
  
<% end %>